.btnOnOff-wraper{
    width: 50px;
    height: 20px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    -moz-box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.4);
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.btnOnOff{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.4);
}
.btnOnOff.active{
    left: auto;
    right: 0;
    background-color: green;
}