*{
    margin: 0px;
    padding: 0px;
}
html,body{
    background-color: #41B883;
    padding: 40px;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}
.title{
    font-family: sans-serif;
    margin-top: 40px;
    color: #41B883;
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
}
.sub-title{
    margin-top: 60px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-transform: capitalize;
}
.paragraph{
    margin: 10px 0;
    color: rgba(0, 0, 0, 0.8);
}
.small-text{
    margin: 10px 0 30px 0;
    display: block;
}
.link-docs{
    margin-top: 20px;
    display: block;
    color: #41B883;
    font-size: 16px;
}
input[type=text]{
    margin: 10px 0;
    display: block;
    border: 2px solid mediumseagreen;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
}
button{
    padding: 8px 16px;
    border: none;
    background-color: #41B883;
    color: white;
}

/* container */
#container{
    background-color: white;
    padding: 40px 80px;
    border-radius: 4px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.4);
}

/* loading page */
#loading-page{
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
/* #loading-page.hide{
    display: none;
} */
.pulse {
    animation: pulseOn 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes pulseOn {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}
header h5{
    margin-top: 40px;
    text-align: left;
    width: 100%;
    opacity: 0.8;
}

#btn-up{
    position: fixed;
    right: 20px;
    top: 20px;
    text-decoration: none;
    padding: 8px;
    background-color: #fff;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.5s;
}
#btn-up.show{
    opacity: 1;
}
#table-of-content{
    background-color: #41B883;
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    border-radius: 4px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 16px;
    -moz-box-shadow: inset 0 0 40px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 0 40px 0px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 40px 0px rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.8);
}
#table-of-content a{
    color: rgba(255, 255, 255, 0.8);
}
#table-of-content a.clicked{
    color: rgba(0, 0, 0, 0.8);
}

.content-wraper{
    padding-left: 20px;
}
.result-wraper{
    border-left: 4px solid #41B883;
    margin-top: 40px;
    padding: 0px 20px;
}

/* Conditional rendering */
#main-conditional-rendering #span-wraper span{
    padding: 4px 8px;
    margin-right: 4px;
    border-radius: 3px;
    background-color: salmon;
}

/* Atribute binding */
#main-atribute-binding #jumbotron{
    width: 500px;
}
#main-atribute-binding #thumbnail-wraper{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
#main-atribute-binding #thumbnail-wraper img{
    width: 100px;
    cursor: pointer;
    opacity: 0.6;
    margin-right: 4px;
}
#main-atribute-binding #thumbnail-wraper img.clicked{
    cursor: default;
    opacity: 1;
}

/* Two ways data binding */
#main-two-ways-data-binding #tag-wraper{
    min-height: 24px;
    margin: 20px 0 10px 0;
}
#main-two-ways-data-binding .tag-span{
    display: inline-block;
    background-color: #41B883;
    margin: 6px 6px 0 0;
    border-radius: 4px;
    padding: 4px 8px;
}
#main-two-ways-data-binding label{
    display: inline-block;
    min-width: 100px;
    margin-top: 6px;
}

/* Looping */
#main-looping .itemList{
    width: 216px;
    margin-top: 6px;
    background-color: #41B883;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
#main-looping b.cross{
    text-decoration: line-through;
    white-space: pre-wrap;
}
#main-looping .btn-wraper{
    min-width: 28px;
}
#main-looping .btn-wraper span{
    color: red;
    cursor: pointer;
}

@media (max-width: 820px) {
    #container{
        padding: 40px 20px;
    }
    .content-wraper{
        padding-left: 20px;
        padding-right: 20px;
    }
    #main-atribute-binding #jumbotron{
        width: 100%;
    }
    #main-atribute-binding #thumbnail-wraper img{
        width: 50%;
    }
}
@media (max-width: 648px) {
    html,body{
        padding: 10px;
    }
    .title{
        font-size: 30px;
    }
    .sub-title{
        font-size: 20px;
    }
    input[type=text]{
        width: 100%;
    }
    .content-wraper{
        padding-left: 0px;
    }
    .code-wraper{
        font-size: 12px;
    }
    #main-looping .itemList{
        width: 100%;
    }
    #table-of-content{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    #table-of-content a{
        word-wrap: break-word;
    }
    #btn-up{
        right: 10px;
        padding: 4px;
        font-size: 12px;
    }
}